
.auth-form {
    width: 30%;
}


@media only screen and (max-width: 1200px) {
    .auth-form {
        width: 50%;
    }
}

@media only screen and (max-width: 800px) {
    .auth-form {
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    .auth-form {
        width: 90%;
    }
}