
.auth-form {
    width: 30%;
}

.dashboard-wrapper:focus {
    outline: none;
}

.sidebar {
    width: 15%;
    border-right: 1px solid var(--border);
}

.dashboard-component {
    width: 85%;
}

.hamburger {
    height: 100vh;
    width: 70%;
    background-color: var(--primary-bg);
    position: fixed;
    left: -70%;
    top: 0;
    z-index: 10;
    display: none;
}

.hamburger[data-state="true"] {
    left: 0;
    animation-name: slideIn;
    animation-duration: 0.15s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    border-right: 1px solid var(--border);
}

.hamburger[data-state="false"] {
    left: -70%;
    animation-name: slideOut;
    animation-duration: 0.15s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

.hamburger-blocker {
    height: 100vh;
    width: 100vw;
    background-color: var(--primary-bg);
    opacity: 0.7;
    position: fixed;
    top: 0;
    left: 0;
}

.dashboard-form {
    width: 50%;
}

@media only screen and (max-width: 1400px) {
    .sidebar {
        width: 20%;
    }
    
    .dashboard-component {
        width: 80%;
    }
}

@media only screen and (max-width: 1200px) {
    .auth-form {
        width: 50%;
    }
}

@media only screen and (max-width: 1100px) {
    .sidebar {
        width: 25%;
    }
    
    .dashboard-component {
        width: 75%;
    }
}

@media only screen and (max-width: 900px) {
    .sidebar {
        display: none
    }
    
    .dashboard-component {
        width: 100%
    }

    .hamburger {
        display: flex;
    }
    
    .dashboard-form {
        width: 80%;
    }
}

@media only screen and (max-width: 800px) {
    .auth-form {
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    .auth-form {
        width: 90%;
    }

    .dashboard-form {
        width: 90%;
    }
}