
.auth-input {
    height: 50px;
    width: 80%;
    font-size: 16px;
}

.auth-input-error:focus {
    border: 1px solid var(--failed);
}

.auth-button {
    height: 50px;
    width: 80%;
    font-size: 16px;
    font-weight: bold;
    background-color: var(--primary-cta);
    color: var(--primary-color);
    border: 1px solid var(--primary-cta);
    border-radius: 5px;
    cursor: pointer;
}

.auth-link {
    height: auto;
    color: var(--primary-color);
}

.auth-error-icon, .auth-error {
    color: var(--failed);
}

.auth-success-icon, .auth-success {
    color: var(--success);
}

.auth-logo {
    height: 30px;
    width: 30px;
}

.small-logo {
    height: 17px;
    width: 17px;
}

.spinner {
    height: 15px;
    width: 15px;
    animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.saving-text {
    color: var(--alt-color);
    margin-left: 10px;
    font-size: 14px;
}

.avatar, .avatar-alt {
    height: 25px;
    width: 25px;
    font-size: 10px;
    border-radius: 50%;
}

.avatar {
    background-color: var(--primary-cta);
}

.avatar-alt {
    background-color: var(--secondary-cta);
}

.toolbar {
    position: fixed;
    bottom: 20px;
    background-color: var(--alt-bg);
    border: 1px solid var(--border);
    border-radius: 5px;
}

.toolbar-title {
    height: auto;
    color: var(--secondary-cta);
    font-size: 14px;
    font-weight: bold;
}

.toolbar-shortcut {
    padding: 10px 20px;
    background-color: var(--secondary-cta);
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}

.divider {
    height: 1px;
    background-color: var(--border);
}

.view-cv-box {
    height: 75px;
    width: 90%;
    border-radius: 3px;
    background-color: var(--alt-bg);
    border: 1px solid var(--border);
    text-decoration: none;
}

.view-cv-heading {
    font-size: 12px;
    margin-bottom: 5px;
}

.view-cv-paragraph {
    font-size: 10px;
    color: var(--alt-color);
}

.view-cv-icon {
    color: var(--alt-color);
}

.sidebar-link {
    font-size: 16px;
    color: var(--alt-color);
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    text-decoration: none;
}

.sidebar-active {
    color: var(--primary-color);
    font-weight: bold;
}

.dashboard-header {
    border-bottom: 1px solid var(--border);
}

.hamburger-icon {
    display: none;
    color: var(--primary-color);
    cursor: pointer;
}

.dashboard-label {
    font-size: 14px;
    color: var(--primary-color);
}

.dashboard-input {
    height: 40px;
    width: 100%;
    background-color: var(--alt-bg);
}

.dashboard-input-error {
    border: 1px solid var(--failed);
}

.dashboard-input-error:focus {
    border: 1px solid var(--failed);
}

.input-error, .input-error-icon {
    color: var(--failed);
}

.dashboard-button {
    height: 35px;
    padding: 0 20px;
    background-color: var(--alt-bg);
    border: 1px solid var(--secondary-cta);
    border-radius: 5px;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

.list-item {
    height: 40px;   
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid var(--alt-bg);
    color: var(--primary-color);
    margin-top: 7px;
}

.list-item:hover {
    background-color: var(--alt-bg);
    border: 1px solid var(--border);
}

.list-item-input {
    border: none;
}

.list-item-icon {
    cursor: pointer;
}

.list-item-input:focus {
    border: none;
    outline: none;
}

.dashboard-photo-input {
    display: none;
}

.dashboard-photo-input-label {
    height: 30px;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border);
    background-color: var(--alt-bg);
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
}

.dashboard-photo-input-text {
    color: var(--alt-color);
}

.dashboard-heading-list, .dashboard-list {
    height: 50px;
    border-bottom: 1px solid var(--border);
}

.dashboard-list {
    text-decoration: none;
}

.dashboard-job-heading, .dashboard-list-item {
    color: var(--alt-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 5px;
}

.list-main {
    color: var(--primary-color);
}

.dashboard-link-button {
    height: 40px;
    width: auto;
    padding: 0 20px;
    background-color: var(--alt-bg);
    color: var(--primary-color);
    border: 1px solid var(--border);
    border-radius: 5px;
    text-decoration: none;
}

.side-project-box {
    height: auto;
    background-color: var(--alt-bg);
    border: 1px solid var(--border);
    border-radius: 5px;
}

.side-project-title {
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
}

.side-project-description {
    font-size: 14px;
    color: var(--alt-color);
    margin-top: 5px;
    margin-left: 10px;
}

.side-project-icon {
    color: var(--alt-color);
}

.dashboard-textarea {
    min-height: 150px;
    background-color: var(--alt-bg);
    padding: 10px;
}

.help-card-portal {
    background-color: var(--alt-bg);
    border: 1px solid var(--border);
    border-radius: 5px;
}

.help-card-content {
    padding: 0 10px;
    color: var(--primary-color);
    font-size: 12px;
    font-weight: 200;
}

.add-header-link {
    height: 40px;
    background-color: var(--primary-bg);
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.add-header-icon {
    color: var(--primary-color);
}

.add-save-button {
    height: 50px;
    background-color: var(--primary-cta);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: var(--primary-color);
    cursor: pointer;
}

@media only screen and (max-width: 900px) {
    .hamburger-icon {
        display: flex;
    }

    .dashboard-job-heading, .dashboard-list-item {
        font-size: 12px;
    }

    .toolbar {
        display: none;
    }
}