
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-bg: #000;
    --primary-color: #fff;
    --input-bg: #151621;
    --alt-bg: #21232ed9;
    --alt-color: #50577A;
    --border: #2c2d3c;
    --active-border: #2161DC;
    --success: #008000;
    --failed: #C52828;
    --primary-cta: #54BAB9;
    --secondary-cta: #474E68;
}

body {
    background-color: var(--primary-bg);
}

input {
    padding-left: 10px;
    background-color: var(--primary-bg);
    color: var(--primary-color);
    border-radius: 5px;
    border: 1px solid var(--border);
    margin-top: 10px;
    margin-bottom: 10px;
}

input::placeholder {
    color: var(--border);
}

input:active, input:focus, button:focus {
    border: 1px solid var(--active-border);
    box-shadow: 0 0 3px var(--active-border);
    outline: none;
}

.red {
    background-color: red;
}


