
.full-vh {
    height: 100vh;
}

.full-vw {
    width: 100vw;
}

.auto-height {
    height: auto;
}

.height-50 {
    height: 50px;
}

.width-100 {
    width: 100%;
}

.width-90 {
    width: 90%;
}

.width-85 {
    width: 85%;
}

.width-80 {
    width: 80%;
}

.width-50 {
    width: 50%;
}

.width-40 {
    width: 40%;
}

.width-10 {
    width: 10%;
}