
.margin-vertical-50 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.margin-vertical-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.margin-vertical-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.margin-left-20 {
    margin-left: 20px;
}